@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: rgb(86, 9, 228);
}

.right_menu:hover .drop_down{
    display: block;
}
/* .table{
    border-collapse: collapse;
} */

@media (max-width: 768px){
    .table thead{
        display: none;
    }
    .table, .table tbody,.table tr,.table td{
        display: block;
        width: 100%;
    }
    .table tbody tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 900;
        font-size: 14px;
        text-align: left;
    }
}
